[Unit]
Description=Kodi standalone (GBM/HDR)
After=remote-fs.target systemd-user-sessions.service network-online.target sound.target bluetooth.target polkit.service upower.service
Wants=network-online.target polkit.service upower.service
Conflicts=getty@tty1.service sddm.service

[Service]
User=kodi
Group=kodi
SupplementaryGroups=audio video render input optical
PAMName=login
TTYPath=/dev/tty1

ExecStartPre=/usr/bin/kodi-pre-launch
ExecStart=/usr/bin/kodi-standalone
ExecStop=-/usr/bin/killall --exact kodi-gbm

Environment="HOME=/var/lib/kodi"
Restart=on-failure
RestartSec=5s
TimeoutStopSec=10

LimitNOFILE=65536

StandardInput=tty
StandardOutput=journal
StandardError=journal

[Install]
Alias=display-manager.service